body {
    background-color: #31333f;
    overflow: hidden;
}

p {
    color: #f2f2f2;
    margin: 1em 0;
    font-size: 16px;
    line-height: 1.5;
}

#tower-container {
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: 80vw;
    background-color: #54545c;
    border: 1px solid rgb(31, 37, 40);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#blocks-container {
    position: relative;
    left: 400px;
    height: 790px;
    width: 1110px;
    background: #1c1d1e;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
    box-shadow: 0 0 10px #eedced;
}

#top-bar {
    height: 10%;
    width: 98%;
    margin: 10px 0 0 15px;
}

#tower-menu {
    position: absolute;
    top: 40px;
    background-color: #1c1d1e;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#bet-container,
#difficulties-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bet-container .button-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}

#bet-container input[type="text"] {
    width: 320px;
    background-color: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    color: #f2f2f2;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.button-group button {
    display: inline-block;
    width: 85px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    color: #f2f2f2;
    margin-right: 1px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#bet-container input[type="text"]:hover,
#bet-container input[type="text"]:focus,
.button-group button:hover,
.button-group button:active {
    background-color: #464c59;
}

#difficulties-container input[type="radio"] {
    position: absolute;
    width: 0;
    opacity: 0;
}

#difficulties-container label {
    position: relative;
    display: block;
    transition: background-color 0.3s ease;
    width: 300px;
    background-color: transparent;
    border: 2px solid #f2f2f2;
    border-radius: 4px;
    color: #f2f2f2;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

#difficulties-container label span {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #f2f2f2;
    font-size: 14px;
}

#difficulties-container input[type="radio"]:hover+label,
#difficulties-container input[type="radio"]:checked+label,
#difficulties-container input[type="radio"]:checked+label span {
    color: #f2f2f2;
    background-color: #464c59;
    cursor: pointer;
}

#start,
#cash-out {
    display: flex;
    height: 50px;
    width: 344px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #f2f2f2;
    margin-top: 160px;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

#start:hover,
#cash-out:hover {
    background-color: #464c59;
}

#start:focus,
#cash-out:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#info-bar,
#balance-info,
#total-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #444444;
    z-index: 5;
}

#back,
#balance-info,
#total-info {
    display: flex;
    height: 100%;
    width: 300px;
    background: #323232;
    border-radius: 5px;
    color: #f2f2f2;
    font-size: 16px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#back {
    position: relative;
    left: 10px;
    width: 60px;
    justify-content: center;
    align-items: center;
}

#balance-info {
    left: 1100px;
}

#total-info {
    left: 1430px;
}

#balance-text,
#balance-value,
#balance-change,
#total-text,
#total-value,
#total-change {
    margin-left: 15px;
}

#multipliers-container {
    position: relative;
    display: flex;
    left: 390px;
    height: 70px;
    width: 1110px;
    background-color: #28262c;
    border: 1px solid #f2f2f2;
    border-radius: 18px;
    margin-top: 60px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #eedced;
}

.multiplier-block {
    display: inline-flex;
    height: 80%;
    width: 60px;
    scale: 0.9;
    background-color: #3f3e4c;
    border-radius: 12px;
    box-sizing: border-box;
    color: #d4bee8;
    margin: 2px;
    font-size: 21px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.multiplier-block:hover {
    transform: scale(1.1);
}

.tower-level {
    display: flex;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
}

.highlighted {
    outline: none;
    border-color: #d4bee8;
    box-shadow: 0 0 10px #eedced;
}

.tower-block {
    display: inline-flex;
    height: 95%;
    transition: all 0.3s ease-in-out;
    background-color: #2c2c2c;
    border-radius: 18px;
    border: 2px solid #fff;
    color: #fff;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tower-block h3 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.tower-block:hover {
    outline: none;
    transform: scale(1.1);
    border-color: #d4bee8;
    box-shadow: 0 0 10px #eedced;
}

.safe-block {
    background-color: #a1caca;
}

.unsafe-block {
    background-color: #a23742;
}

#logo-container {
    position: relative;
    height: 200px;
    width: 344px;
    background-image: url('../assets/logo_transparent.png');
    background-size: cover;
    background-position: center;
}
