* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    font-size: 20px;
}

.container {
    background-color: #270b3a;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.dice-area {
    margin: 50px;
    text-align: center;
}

.images {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
    font-size: 6rem;
    color: rgb(208, 214, 218);
}

p {
    font-size: 2.5rem;
    color: rgb(208, 214, 218);
}

img {
    width: 280px;
    margin-right: 50px;
}

.button {
    margin-top: 50px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: #3f980b;
    color: #fff;
    cursor: pointer;
}

.input__money {
    margin-top: 50px;
    font-size: 40px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
