*{
       margin: 0;
       padding: 0;
       font-family: Arial, Helvetica, sans-serif;
}

html, body{
       height: 100%;
       font-size: 20px;
}

.container{
       background-color: #270b3a;
       color: #fff;
       height: 100%;
       display: flex;
       flex-direction: column;
       user-select: none;
}

.main{
       text-align: center;
       margin: auto;
}

.header{
       font-size: 50px;
       margin-bottom: 20px;
}
.money{
       padding: 0 10px;
}

.balance{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-bottom: 15px;
}

.input__money{
       font-size: 15px;
       padding: 5px;
       text-align: center;
       border-radius: 5px;
       border: none;
}

.error__message{
       color: #fff;
       background-color: #ff0000;
       font-size: 15px;
       padding: 5px;
       margin-top: 10px;
       display: none;
       border-radius: 5px;
}

.button{
       font-size: 18px;
       padding: 5px;
       border-radius: 5px;
       border: none;
       background-color: #3f980b;
       color: #fff;
       cursor: pointer;

}

.slots{
       display: flex;
       justify-content: space-evenly;
       margin: 25px 0px;
       background-color: #fff;
       color: #270b3a;
       border-radius: 10px;
       padding: 10px 0;
       
}

.current{
       border: solid 7px #f7d600;
       padding: 10px;
       font-size: 30px;
       width: 16.688px;
       height: 34.4px;
}

.next, .previous{
       font-size: 20px;
       width: 49.487px;
       height: 23.2px;
}